<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Parental Consent Denied</h1>

  <p>Hello <%= @user.email %>,</p>

  <p>We're sorry, but your parental consent has been denied. You will not be able to participate in our organization-based access control system at this time.</p>

  <p>If you believe this is an error, please contact us.</p>

  <p>Thank you,<br>
  OrgSpace Team</p>
</body>
</html>
