<%# app/views/posts/edit.html.erb %>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h4 class="mb-3 text-center">Edit Post</h4>
      <div class="card-body">
        <%= render 'form', organization: @organization, post: @post %>
      </div>
    </div>
  </div>
</div> 